<div class="page-header">
	<h1>About</h1>
</div>
<div id="content-home">
	<h3>Cite Us</h3>
	<p>Na<sub>V</sub>iew is not published yet, although the manuscript is in preparation.</p>

	<h3>Team</h3>
	<div class="row row-list">
		<div class="block padding-left">
			<img src="public/images/marcelo.png" height="165px">
			<div style="font-size: medium; text-align: center">Marcelo Querino, MSc</div>
			<div style="font-size: smaller; text-align: center">UFMG</div>
		</div>
		<div class="block padding-left">
			<img src="public/images/neli.png" height="165px">
			<div style="font-size: medium; text-align: center">Neli Fonseca, PhD</div>
			<div style="font-size: smaller; text-align: center">EMBL-EBI</div>
		</div>
		<div class="block padding-left">
			<img src="public/images/marmota.jpeg" height="165px">
			<div style="font-size: medium; text-align: center">Thainá Miranda</div>
			<div style="font-size: smaller; text-align: center">UFMG</div>
		</div>
		<div class="block padding-left">
			<img src="public/images/bleicher.jpeg" height="165px">
			<div style="font-size: medium; text-align: center">Lucas Bleicher, PhD</div>
			<div style="font-size: smaller; text-align: center">UFMG</div>
		</div>
	</div>
	
	<h3>Access our other applications</h3>
	<ul>
		<li><a href="http://bioinfo.icb.ufmg.br:8080/conan">CONAN: Co-Variation Network Analyzer</a></li>
		<li><a href="http://bioinfo.icb.ufmg.br:9000/cevada">CeVADA: Co-Variation Data Archive</a></li>
		<li><a href="http://bioinfo.icb.ufmg.br:9000/protworm">ProtWorm: A computational tool to find amino acid residues citations</a></li>
	</ul>
</div>