<h1>Contact</h1>

<div id="content-home">
    <div class="ui-g">
			<div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align: center;">
                <i class="fas fa-envelope" style="font-size: 100px;"></i>
			</div>

			<div class="ui-g-12 ui-md-6 ui-lg-4">
                <h2 style="text-align: center;">General Enquiries</h2>
                <div><b>Lucas Bleicher</b></div>
                <div style="margin-top:5px; margin-bottom: 5px;">lbleicher@ufmg.br</div>

                <div style="font-size: smaller; margin-top: 5px;">
                <div style="margin-top: 5px;">Universidade Federal de Minas Gerais</div>
                <div style="margin-top: 5px;">Instituto de Ciências Biológicas</div>
                <div style="margin-top: 5px;">Departamento de Bioquímica e Imunologia.</div>
                <div style="margin-top: 5px;">Av. Antônio Carlos, 6627</div>
                <div style="margin-top: 5px;">Pampulha</div>
                <div style="margin-top: 5px;">Zip-Code: 31270901</div>
                <div style="margin-top: 5px;">Belo Horizonte, MG - Brazil</div>
                <div style="margin-top: 5px;">Telephone: +55 (31) 34092653</div>
                </div>

		  	</div>
    </div>
</div>